###############################################################################
#                                                                             #
# `youtube-viewer`                                                             #
# `Workspace`                                                                 #
# `.npmrc`                                                                    #
#                                                                             #
###############################################################################

# https://docs.npmjs.com/cli/v6/using-npm/config#dev
dev = true

# https://docs.npmjs.com/cli/v6/using-npm/config#ignore-prepublish
ignore-prepublish = true

# https://docs.npmjs.com/cli/v6/using-npm/config#ignore-scripts
ignore-scripts = true

# https://docs.npmjs.com/cli/v6/using-npm/config#init-author-email
init-author-email = "eldorplus@gmail.com"

# https://docs.npmjs.com/cli/v6/using-npm/config#init-author-name
init-author-name = "Patrick LUZOLO"

# https://docs.npmjs.com/cli/v6/using-npm/config#init-author-url
init-author-url = "https://mikebars.github.io/"

# https://docs.npmjs.com/cli/v6/using-npm/config#init-license
init-license = "UNLICENSED"

# https://docs.npmjs.com/cli/v6/using-npm/config#init-version
init-version = "0.0.0"

# https://docs.npmjs.com/cli/v6/using-npm/config#loglevel
loglevel = "error"

# https://docs.npmjs.com/cli/v6/using-npm/config#long
long = true

# https://docs.npmjs.com/cli/v6/using-npm/config#save-exact
save-exact = true

# https://docs.npmjs.com/cli/v6/using-npm/config#save-prefix
save-prefix = ""

# https://docs.npmjs.com/cli/v6/using-npm/config#save-prod
save-prod = true