###############################################################################
#                                                                             #
# `youtube-viewer`                                                             #
# `Workspace`                                                                 #
# `.yarnrc`                                                                   #
#                                                                             #
###############################################################################

# https://classic.yarnpkg.com/en/docs/cli/config
disable-prepublish true
ignore-scripts true
save-prefix ""

# https://classic.yarnpkg.com/en/docs/cli/init#toc-setting-defaults-for-yarn-init
init-author-email "eldorplus@gmail.com"
init-author-name "Patrick LUZOLO"
init-author-url "https://eldorplus.github.io/"
init-license "UNLICENSED"
init-version "0.0.0"

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-dev-d
--add.dev false

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-exact-e
--add.exact true

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-ignore-workspace-root-check-w
--add.ignore-workspace-root-check true

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-optional-o
--add.optional false

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-peer-p
--add.peer false

# https://classic.yarnpkg.com/en/docs/cli/add#toc-yarn-add-tilde-t
--add.tilde false

# https://classic.yarnpkg.com/en/docs/cli/init#toc-yarn-init-private-p
--init.private true

# https://classic.yarnpkg.com/en/docs/cli/init#toc-yarn-init-yes-y
--init.yes true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-check-files
--install.check-files true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-force
--install.force true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-har
--install.har true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-ignore-scripts
--install.ignore-scripts true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-production-true-false
--install.production false

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-silent
--install.silent true

# https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-update-checksums
--install.update-checksums true